@import url('https://fonts.googleapis.com/css2?family=Itim&family=Marhey:wght@300..700&display=swap');

*{
    box-sizing: border-box; /* ทำให้ Element ทุกตัวคำนวณจากขนาดจริง */
}

p.thai {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

p.eng {
    font-family: "Marhey", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head-content{
    /* background-color: aquamarine; */
    margin: auto;
    width: 90%;
}

.head-content>input{
    justify-self: end;
}

/* หน้าจอโทรศัพท์ */
@media (max-width: 640px){
    header.topbar{
        background-color: #a9e1ff;
        display: flex;
        flex-direction: row;
    }
}
/* หน้าจอเดสท็อป */
@media (min-width: 641px){
    header.topbar{
        background-color: #a9e1ff;
        display: flex;
        flex-direction: row;
    }
}